@page
@model RazorVistas.App.Frontend.Pages.GaleriaModel
@{
}


<!DOCTYPE html>   <!--  -->
<html lang="es">  <!-- tipo de lenguaje -->
    
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shipping Drone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Galeria.css" />
    <title  >Galeria de Fotos</title>
    </head>

<body>
    <h1>Galeria de Fotos</h1>
    <h1></h1>
    <div class="galeria">
        <div class="foto">
            <img src="DroneGale.jpg" alt="">
        </div>
        <div class="pie">
            <p>Sala de exhibición 1</p>
            <p>Sistema de entrega</p>
        </div>
    </div>
    

    <div class="galeria2">
        <div class="foto">
            <img src="1DatosPersonales.jpg" alt="">
        </div>
        <div class="pie">
            <p>Sala de exhibición 2</p>
            <p>Drones</p>
        </div>
    </div>

</body>
</html>
