@page
@model RazorVistas.App.Frontend.Pages.ListModel
@{
}


<!DOCTYPE html>   <!--  -->
<html lang="es">  <!-- tipo de lenguaje -->
    
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shipping Drone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/List.css" />
    </head>

<body>

<form class="row g-3">
  <div class="col-12">
    <label for="inputAddress" class="form-label">Codigo del pedido:</label>
    <input type="text" class="form-control" id="inputPedido" placeholder="1234">
  </div>


<div class="mb-3">
  
</div>

<div class="alert alert-warning" role="alert">
   <h4 class="alert-heading">Datos del pedido:</h4>
    <p> </p>
</div>

<div class="row g-3">
  <div class="col">
    <input type="text" class="form-control" placeholder="Nombres" aria-label="Nombres">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Apellidos" aria-label="Apellidos">
  </div>
</div>

<div class="mb-3">
  
</div>

<div class="row g-3">
  <div class="col">
    <input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Numero de Celular" aria-label="Numero de Celular">
  </div>
</div>

<div class="mb-3">
  
</div>

<div class="row g-3">
  <div class="col">
    <input type="text" class="form-control" placeholder="Temperatura de la zona" aria-label="TemperaturaZona">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Estado del dron" aria-label="EstadoDron">
  </div>
</div>

<div class="mb-3">
  
</div>

<div class="row g-3">
  <div class="col">
    <input type="text" class="form-control" placeholder="Estado del empaque" aria-label="EstadoEmpaque">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Tiempo de llegada" aria-label="TiempoLlegada">
  </div>
</div>

<div class="mb-3">
  
</div>

<div class="row g-3">
  <div class="col">
    <input type="text" class="form-control" placeholder="Satisfacción del cliente" aria-label="Satisfaccion">
  </div>
</div>
</form>
</body>
