*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  
}

body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
    background-image: url(3EstadoPaquete.jpg); /*para la imagen estatica de fondo */
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
    background-repeat: no repeat;   
    position: absolute;
    width:100%;
    padding:50px;
}
h2{
  text-align:left;
  padding:30px;
  color:rgb(17, 16, 16);
}

.row{
  max-width:100%;
  margin:auto;
  margin-top:100px;
  box-shadow:0  0 20px 1px rgba(0,0,0,0.3);
  position:relative; /*relavite, porque vamos a posisionar otro elemento en base al formulario*/
  border-radius:30px;
  display:grid;   /* para separar en columnas*/
  grid-template-columns:1fr 1fr;
}
.row g-3{
  font-size:1.3em;
}
.col-md-6{
  margin-left:10px;
  width:30%;
}

button{
  width:20%;
  
}
button:hover{
        transform:translateY(10px); /*para que el boton se mueva de arriba abajo --y translateX, es para que se mueva izq-der, el desplazamiento es mayor 20px*/
        }
  
  
  