@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a Shipping Drone</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


 <a href="DatosPersonales/List" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">DATOS PERSONALES</a>
    <h3> </h3>
    <a href="FormularioContacto/FormularioC" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true"><span><i class="fas fa-file-signature"></i></span>FORMULARIO</a>
    <h3> </h3>
    <a href="DatosPersonales/List" class="button black round-xlarge" tabindex="-1" role="button" aria-disabled="true">DATOS PERSONALES</a>
    <h3> </h3>
    <a href="FormularioContacto/FormularioC" class="button black round-xxlarge" tabindex="-1" role="button" aria-disabled="true">FORMULARIO</a>
    <h3> </h3>
    <a href="DatosPersonales/List" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">List-DATOS PERSONALES</a>
    <h3> </h3>
    <a href="DatosPersonales/Galeria" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">GALERIA</a>
    <h3> </h3>


<form action="">
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Hogar</a>
                        </li>
                        
    <div>

</div>
</form>
